body {
	background-color: #f5f5f5;;
	font-family: 'Ubuntu', sans-serif;
}

#header {
	color: #8C55AA;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bolder;
	font-size: 40px;
}

#footer {
	border: 2px solid gray;
	background-color: #FFFFFF;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
	letter-spacing: 3px;
}

.Con_1 {
	font-size: 20px;
	margin-left: 2.5%;
	margin-right: 2.5%;
	width: 45%;
	height: 400px;
	background-color: #FFFFFF;
	border-radius: 1.5em;
}
button {
	cursor: pointer;
	border-radius: 5em;
	color: rgb(26, 24, 24);
	background: lavender;
	border: 0;
	font-weight: bold;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

}

.Con_2 {
	font-weight: 300;
	font-size: 18px;
	margin-left: 2.5%;
	margin-right: 2.5%;
	width: 100%;
	height: 400px;
	background-color: #FFFFFF;
	border-radius: 1.5em;
}

.sign {
	padding-top: 20px;
	color: #8C55AA;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 23px;
}

table {
	border-collapse: collapse;
	width: 96%;
	height: 400px;
	text-align: center;
}

}
th {
	height: 30px;
	text-align: center;
	vertical-align: bottom;
	color: white;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #f5f5f5;
}

th, td {
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

.cap {
	padding-top: 40px;
	margin-left: 5px;
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-size: 10px;
}

.un {
    width: auto;
    color:lightslategray;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 10px;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
}


button:hover {
  opacity: 0.8;
}



.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}


.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>